.ui-library-select {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 40px;
  gap: var(--ui-space-1);
  font-family: var(--ui-font-sans);
}

.ui-library-select__label {
  font-size: var(--ui-font-size-label);
  font-weight: var(--ui-font-weight-regular);
  color: var(--ui-color-secondary);
  background-color: var(--ui-color-bg-default);
  position: absolute;
  padding: 0 7px;
  top: -9px;
  left: 13px;
}

.ui-library-select__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ui-space-2);
  width: 100%;
  height: 100%;
  background-color: var(--ui-color-bg-default);
  color: var(--ui-color-fg-default);
  border: 1px solid var(--ui-color-border-subtle);
  border-radius: var(--ui-radius-md);
  padding: var(--ui-space-3) var(--ui-space-4);
  font-family: var(--ui-font-sans);
  font-size: var(--ui-font-size-body-md);
  line-height: var(--ui-line-height-ui);
  cursor: pointer;
  transition: background-color var(--ui-transition-fast), border-color var(--ui-transition-fast),
    color var(--ui-transition-fast);
}

.ui-library-select__trigger[data-placeholder] .ui-library-select__value {
  color: var(--ui-color-fg-muted);
  font-size: var(--ui-font-size-caption);
  font-weight: var(--ui-font-weight-regular);
}


.ui-library-select:has(.ui-library-select__trigger[data-disabled]) .ui-library-select__label {
  color: #434343;
}

.ui-library-select__trigger[data-disabled] .ui-library-select__value {
  color: #434343;
}

.ui-library-select__trigger[data-popup-open] {
  border-color: var(--ui-color-secondary);
}

.ui-library-select__trigger[data-disabled] {
  background-color: var(--ui-color-neutral-light);
  border-color: var(--ui-color-disabled-strong);
  cursor: not-allowed;
}

.ui-library-select__trigger[data-disabled] .ui-library-select__icon{
  color: var(--ui-color-disabled-strong)
}


.ui-library-select__icon {
  display: inline-flex;
  color: var(--ui-color-disabled);
  transition: transform var(--ui-transition-fast), color var(--ui-transition-fast);
}

.ui-library-select__trigger[data-popup-open] .ui-library-select__icon {
  color: var(--ui-color-secondary);
  transform: rotate(180deg);
}

.ui-library-select__positioner {
  outline: none;
  z-index: 50;
}

.ui-library-select__popup {
  box-sizing: border-box;
  min-width: var(--anchor-width);
  max-height: min(24rem, var(--available-height));
  overflow-y: auto;
  background-color: var(--ui-color-bg-default);
  border: 1px solid var(--ui-color-border-subtle);
  border-radius: var(--ui-radius-md);
  padding: var(--ui-space-2);
}

.ui-library-select__item {
  display: flex;
  align-items: center;
  padding: var(--ui-space-2) var(--ui-space-3);
  border-radius: var(--ui-radius-md);
  font-size: var(--ui-font-size-caption);
  font-weight: var(--ui-font-weight-regular);
  color: var(--ui-color-fg-default);
  cursor: pointer;
  outline: none;
  transition: background-color var(--ui-transition-fast);
}

.ui-library-select__item[data-highlighted],
.ui-library-select__item[data-selected] {
  background-color: var(--ui-color-bg-subtle);
}

.ui-library-select__item[data-disabled] {
  color: var(--ui-color-bg-disabled);
  cursor: not-allowed;
}
