.ui-library-radio {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px 0;
}

.ui-library-radio__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid var(--ui-color-border-subtle);
  border-radius: 50%;
  background-color: var(--ui-color-bg-default);
  padding: 0;
  transition: background-color var(--ui-transition-fast),
    border-color var(--ui-transition-fast);
}

.ui-library-radio__box:hover {
  border-color: var(--ui-color-secondary);
}

.ui-library-radio__box[data-checked] {
  border-color: var(--ui-color-secondary);
  background-color: var(--ui-color-secondary);
}

.ui-library-radio__box[data-disabled] {
  border-color: var(--ui-color-disabled);
  background-color: var(--ui-color-bg-disabled);
  cursor: not-allowed;
}

.ui-library-radio__indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--ui-color-bg-default);
}

.ui-library-radio__indicator[data-unchecked] {
  visibility: hidden;
}

.ui-library-radio__label {
  font-size: var(--ui-font-size-body-md);
  font-weight: var(--ui-font-weight-regular);
  color: var(--ui-color-fg-default);
  line-height: var(--ui-line-height-ui);
  user-select: none;
}

.ui-library-radio[data-disabled] .ui-library-radio__label {
  color: var(--ui-color-fg-muted);
  cursor: not-allowed;
}

.ui-library-radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
