.ui-library-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: var(--ui-space-2);
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  border: 2px solid var(--ui-color-border-subtle);
  border-radius: 4px;
  background-color: var(--ui-color-bg-default);
  transition: background-color var(--ui-transition-fast)
    border-color var(--ui-transition-fast);
}

.ui-library-checkbox__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.ui-library-checkbox:hover {
  border-color: var(--ui-color-secondary);
}

.ui-library-checkbox:has(.ui-library-checkbox__box[data-checked]) {
  background-color: var(--ui-color-secondary);
  border-color: var(--ui-color-secondary);
}

.ui-library-checkbox:has(.ui-library-checkbox__box[data-disabled]) {
  border-color: var(--ui-color-disabled);
  background-color: var(--ui-color-bg-disabled);
  cursor: not-allowed;
}

.ui-library-checkbox__indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ui-color-bg-default)
}

.ui-library-checkbox__indicator[data-unchecked] {
  visibility: hidden;
}
