.ui-library-input-wrapper {
  width: 350px;
  position: relative;
}

.ui-library-input{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 40px;
}

.ui-library-input:focus-within input {
  border-color: var(--ui-color-secondary);
  caret-color: var(--ui-color-secondary);
}

.ui-library-input:focus-within input::placeholder{
  color: transparent;
}

.ui-library-input:has(input:disabled) input {
  border-color: var(--ui-color-disabled-strong);
  background-color: var(--ui-color-neutral-light);
}

.ui-library-input:has(input:disabled) .ui-library-input__span {
  color: var(--ui-color-disabled-strong);
  background-color: transparent;
}

.ui-library-input:has(input:disabled) input::placeholder {
  color: var(--ui-color-placeholder-muted);
}

.ui-library-input .ui-library-input__span{
  height: 17px;
  padding: 0 7px;
  top: 17px;
  left: 12px;
  color: var(--ui-color-secondary);
  font-weight: var(--ui-font-weight-medium);
  background-color: var(--ui-color-bg-default);
  position: absolute;
  font-size: var(--ui-font-size-label);
  transition: transform var(--ui-transition-fast);
  user-select: none;
}

.ui-library-input:focus-within .ui-library-input__span {
  transform: translateY(-26px) scale(1.1);
}

.ui-library-input input{
  width: 100%;
  height: 100%;
  border: 1px solid var(--ui-color-border-subtle);
  border-radius: var(--ui-radius-md);
  padding: 5px 17px;
  outline: none;
  font-size: var(--ui-font-size-caption);
}

.ui-library-input input::placeholder{
  font-size: var(--ui-font-size-caption);
  font-weight: var(--ui-font-weight-regular);
}

.ui-library-input.ui-library-input--error input {
  border-color: var(--ui-color-error);
  color: var(--ui-color-error);
  caret-color: var(--ui-color-error);
}

.ui-library-input.ui-library-input--error .ui-library-input__span {
  color: var(--ui-color-error);
}

.ui-library-input.ui-library-input--error input::placeholder {
  color: var(--ui-color-error);
}

.ui-library-input--error .ui-library-input__counter {
  color: var(--ui-color-error);
}

.ui-library-input__error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--ui-space-1);
  position: absolute;
  bottom: -38px;
  margin: 0;
  margin-top: var(--ui-space-1);
}

.ui-library-input__error-text {
  color: var(--ui-color-error);
  font-size: var(--ui-font-size-caption);
  font-weight: var(--ui-font-weight-regular);
}

.ui-library-input__counter {
  position: absolute;
  bottom: -30px;
  right: -25px;
  font-size: var(--ui-font-size-caption);
  font-weight: var(--ui-font-weight-medium);
  color: var(--ui-color-fg-default);
}